
<a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
href="/mattresses/">Mattresses
 <i class="icon navPages-action-moreIcon" aria-hidden="true">
     <svg><use xlink:href="#icon-chevron-down" /></svg>
 </i>
</a>
<div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
 <ul class="navPage-subMenu-list w-50 ">
         <li class="navPage-subMenu-item">
             <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" style="text-decoration: none;"><span class="nav-title">COOLest Gel Mattress</span></a>
                 <a class="navPage-subMenu-action p-0 mb-0 navPages-action{{#if is_active}} activePage{{/if}}"
                    href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/"
                    aria-label="{{name}}">
                    <img src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/nav/green-tea-mattress.png'}}" class="lazyload"/>
                    
                 </a>
                 <p class="mt-0 nav-price">Starts at <b>$315</b></p>             
         </li>
         <li class="navPage-subMenu-item">
             <a href="/weekender-12-hybrid-mattress-plush/" style="text-decoration: none;"><span class="nav-title">Hybrid Mattress</span></a>
                 <a class="navPage-subMenu-action p-0 mb-0 navPages-action{{#if is_active}} activePage{{/if}}" href="/weekender-12-hybrid-mattress-plush/" aria-label="{{name}}">                       
                     <img src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/nav/hybrid-mattress.png'}}" class="lazyload"/>
                                     
                 </a>
                 <p class="mt-0 nav-price">Starts at <b>$199.00</b></p>
         </li>
 </ul>
</div>
