

{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer support" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="footer-container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small mobile like-us-btn" data-section-type="newsletterSubscription">
                    <h3 class="footer-info-heading"><img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-sleep-footer.png?t=1647933941&_gl=1*gnkg43*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyODMyOC41Mi4xLjE2NDc5MzMyMTAuNTg." alt=""></h3>
                    <ul class="footer-info-list">
                        <li><a href="">
                            <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-awesome-phone-alt.png?t=1647934058&_gl=1*9act9o*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyODMyOC41Mi4xLjE2NDc5MzMyMTAuNTg." alt="" class="mr-3">+123 456 7890

                        </a></li>
                        <li>
                            <a>
                                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-ionic-ios-mail.png?t=1647934200&_gl=1*ag38y0*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyODMyOC41Mi4xLjE2NDc5MzMyMTAuNTg." alt="" class="mr-3">support@icon-sleep.com
                            </a>
                        </li>
                        <li>
                            <a><img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-awesome-facebook.png?t=1647934059&_gl=1*1j435o7*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyODMyOC41Mi4xLjE2NDc5MzMyMTAuNTg." alt="" class="mr-2"></a>
                            <a><img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-awesome-instagram.png?t=1647934059&_gl=1*1j435o7*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyODMyOC41Mi4xLjE2NDc5MzMyMTAuNTg." alt=""></a>
                        </li>
                    </ul>
             
            </article>

            <article class="footer-info-col footer-info-col--small mobile" data-section-type="footer-webPages">
                <h3 class="footer-info-heading" >Products</h3>
                <ul class="footer-info-list">
                    <li>
                        <a href="#">Mattresses</a>
                    </li>
                    <li>
                        <a href="/bases/">Bases</a>
                    </li>
                    
                    <li>
                        <a href="/bedding/">Bedding</a>
                    </li>
                    <li>
                        <a href="/toppers/">Toppers</a>
                    </li>
                    <li>
                        <a href="/sleep-trial/">Sleep Trial</a>
                    </li>
                    <li>
                        <a href="/the-truth/">The Truth</a>
                    </li>
                </ul>
                
            </article>
            
             <article class="footer-info-col footer-info-col--small mobile" data-section-type="footer-webPages"> 
        
                <h3 class="footer-info-heading">Information</h3>
                <ul class="footer-info-list">
                    <!-- {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}} -->
                    <!-- <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li> -->

                    <li>
                        <a href="/about-us/">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews/">Reviews</a>
                    </li>
					
                     <li>
                        <a href="/track-order/">Track Order</a>
                    </li>
                    <li>
                        <a href="/privacy-policy/">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/warranty-claim/">Warranty Claim</a>
                    </li>

                </ul>
            </article>
            
            
            <article class="footer-info-col footer-info-col--small mobile" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">Support</h3>
                <ul class="footer-info-list">
                   
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/support/">Support Center</a>
                    </li>
                    <li>
                        <a href="/mattress-care-setup/">Setup & Care Instructions</a>
                    </li>
                    <li>
                        <a href="/faqs/">FAQs</a>
                    </li>
                     <li>
                        <a href="/shipping-transit-chart/">Shipping Transit Chart</a>
                    </li>
                     <li>
                        <a href="/product-certification/">Product Certification</a>
                    </li>
                </ul>
            </article>
        </section>
        
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if settings.paypal_commerce_credit_message}}

        <div class="footer-copyright">
            <p class="paypal-credit">{{nl2br settings.paypal_commerce_credit_message}}</p>
        </div>
        {{/if}}

<div class="footer-flex">
    <div class="footer-content"> 
        <div>
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}}. All rights reserved</p>
                </div>
            {{/if}}
        </div>
 <div class="logo-footer">
                <!--<ul>-->
                <!--    <div>-->
                <!--        <li>-->
                <!--          <span class="icon icon--logo-visa"  href="#" target="_blank">-->
                <!--             <svg>-->
                <!--                 <use xlink:href="#icon-logo-visa"></use>-->
                <!--             </svg>-->
                <!--            </span>-->
                <!--     </li>-->
                <!--     </div>-->
                <!--     <div>                        -->
                <!--        <li>-->
                <!--             <span class="icon icon--logo-mastercard"  href="#" target="_blank">-->
                <!--                <svg>-->
                <!--                    <use xlink:href="#icon-logo-mastercard"></use>-->
                <!--                </svg>-->
                <!--            </span>-->
                <!--        </li>-->
                <!--        </div>-->
                <!--    <div>-->
                <!--     <li class="socialLinks-item">-->
                <!--        <span class="icon icon--logo-american-express" href="#" target="_blank">-->
                <!--            <svg>-->
                <!--                <use xlink:href="#icon-logo-american-express"></use>-->
                <!--            </svg>-->
                <!--        </span>-->
                <!--    </li>-->
                <!--    </div>-->
                <!--    <div>-->
                <!--    <li>-->
                <!--         <span class="icon icon--logo-paypal"  href="#" target="_blank">-->
                <!--            <svg>-->
                <!--                <use xlink:href="#icon-logo-paypal"></use>-->
                <!--            </svg>-->
                <!--        </span>-->
                <!--    </li>-->
                <!--    </div>-->
                <!--</ul>                       -->
                {{> components/common/payment-icons}}
        </div> 

    </div>
    <!-- <div class="footer-copyright">
                    
        {{> components/common/payment-icons}}

</div> -->
        <!-- <div>
            {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        </div> -->

    </div>
    </div>
</footer>
